
# Урок 2. Списки, кортежи, множества
Наиболее часто используемая структура данных в Python - это список (list). С английского list переводится как список.

Список -  упорядоченная последовательность объектов. Объектом может быть что угодно: числа, строки или данных любого доступного типа. Сам список тоже является объектом - мы можем включать списки в более сложные структуры данных, о которых мы с вами еще поговорим.

# 2.1. Списки

## Как создать список?
Чтобы использовать списки, их нужно создать –– для этого есть несколько несложных способов, которые нам нужно знать. Начнем с самого эффективного: использование оператора нижнего индекса.

###  Оператор нижнего индекса - первый способ создать список
Для того, чтобы вызвать оператор нижнего индекса напишем квадратные скобки []. Это самый быстрый способ создать список с помощью Питона.

Элементы списка записываются через запятую. Список может включать в себя любое количество элементов, и каждый элемент может принадлежать к разному типу данных (число, строка и т.д.). Если список состоит только из одного типа данных, то он называется однородным, если из разных - разнородным.

**Пример пустого списка.** Пустым списком называется список, который не содержит в себе объектов.

In [15]:
L1 = []  # Создаем пустой список

In [17]:
L1 #Просим Питон вывести созданный список

[]

**Пример списка, состоящего из чисел.**

In [5]:
a1, a2, a3, a4 = 1, 2, 3, 4 #мы задали числа, которые являются объектами списка (1, 2, 3, 4)
L2 = [a1, a2, a3, a4] #мы использовали квадратные скобки, чтобы из этих чисел создать список

После ввода этого кода пока что вы ничего не увидите. Но если вы попросите Питон показать вам список L2 таким образом, то он выдаст вам следующее:

In [9]:
L2

[1, 2, 3, 4]

То же самое можно сделать короче, сразу же записав числа в квадратные скобки:

In [5]:
L2=[1, 2, 3, 4] 
L2 #не забывайте печатать название списка, чтобы питон его вам выдал

[1, 2, 3, 4]

**Пример списка, состоящего из строк.**

*Напомним, что строки - Этот тип данных обозначается, как "str" и представляют из себя текст*

In [6]:
L3 = ["One", "Two", "Three"]
L3

['One', 'Two', 'Three']

**Пример списка, состоящего из разных типов данных.** Мы можем добавить в список разные типы данных: целые числа (int), дробные числа (float), строки (str) и так далее.

In [11]:
L4 = [1, "Hello", 3.4] #создали список из разных типов данных

In [13]:
L4 #попросили питон вывести созданный нами список

[1, 'Hello', 3.4]

**Список, состоящий из других списков (список с вложенными списками)**

Мы можем составить список из списков. Для этого также используем квадратные скобки:

In [7]:
L4 = [["one","two","three","four"],[1,2,3,4,5]]
L4

[['one', 'two', 'three', 'four'], [1, 2, 3, 4, 5]]

### Встроенная функция list - второй способ задать список
Функция List принимает в качестве аргумента последовательность элементов и преобразует их в список Python.

In [57]:
L1 = list([1, 2, 3]) # Создание списка
L1

[1, 2, 3]

In [59]:
L2 = list() # Пустой список
L2

[]

Вы можете использовать любой удобный для вас способ

### Создание списка с определенным размером
Можно создать последовательность с заранее определенным размером, указав начальное значение для каждого элемента.

In [127]:
Example = [0]*3  #создаем список, который состоит из элемента 0, повторенного 3 раза
Example

[0, 0, 0]

In [126]:
Example2 = ["Кошка", "Белка"]*2  #создаем список, который состоит из элементов "Кошка" и "Белка", повторенного 2 раза
Example2

['Кошка', 'Белка', 'Кошка', 'Белка']

## Индексация
Каждый элемент списка занимает определенное место, позицию в списке. Этот номер называется **индексом**. Индекс назначается автоматически, вам не нужно предпринимать дополнительных действий, чтобы назначить индекс элементу.

**ВАЖНО!** Первый индекс начинается с нуля, следующий - с единицы и так далее. Поэтому если в вашем списке 4 элемента (например, список L2= [1, 2, 3, 4]), то элемент "1" имеет индекс 0, а элемент "4" имеет индекс 3.

### Примеры работы с индексами.

**Поиск элемента с определенным номером индекса.** Воспользуемся списком L2= [1, 2, 3, 4]. Он у нас уже задан ранее. Мы хотим, чтобы нам питон выдал элемент с индексом 1, то есть второй элемент списка (так как нумерация начинается с 0). Для этого пишем название списка и в квадратных скобках указываем индекс нужного нам элемента:

In [25]:
L2[1] #получаем цифру 2 - она как раз имеет индекс 1!

2

Более долгий способ сделать то же самое:

In [32]:
element = L2[1]  # обозначаем, что переменная элемент - это элемент из списка L2 с индексом 1 
print(element) # просим вывести переменную элемент

2

**Поиск элементов, начиная с определенного индекса.** Например, нам нужно, чтобы питон выдал нам все элементы после элемента, с индексом 1 включительно. Для этого в квадратных скобках после индекса пишем двоеточие:

In [11]:
L2[1:] #Получили все элементы, начиная с 1 индекса, включительно. Это элементы 2 (индекс 1), 3 (индекс 2) и 4 (индекс 3)

[2, 3, 4]

**Поиск элементов, располагающиеся между определенными индексами.** Для этого делаем:

In [13]:
L2[1:3]

[2, 3]

Заметили что-то интересное? 

Присмотритесь. Мы указали, что мы начинаем поиск с элемента с индексом 1 (мы уже знаем, что это число 2). Потом через двоеточие мы указали, что заканчиваем на числе с индексом 3 (мы уже знаем, что это число 4). Теперь посмотрим, что нам выдала команда: она выдала нам 2 (индекс 1) и 3 (индекс 2). Но при этом не выдало 4 (индекс 3). 

Объяснение простое: элемент с индексом, которого мы начинаем, включается в выдачу, а элемент, индексом которого мы заканчиваем, не включается в выдачу. 

Закрепим это еще одним примером:

In [17]:
L2[0:3] #элемент с индексом 0 включаем, включаем все элементы между индексами 0 и 3, а индекс 3 не включаем.

[1, 2, 3]

**Выдача элементов с четными/нечетными индексами.**

*На всякий случай: Четное число- это число делится на 2 без остатка (0, 2, 4, 6 и так далее. если поделим 4 на 2, то получим в итоге целое число 2). Да, 0 - это четное число. Если если ноль разделить на 2, то мы получим 0, это целое число без остатка, значит, 0 - четное число.   Нечетный - это когда не делится на 2 без остатка (1, 3, 5 и так далее. Нельзя поделить 3 на 2 и получить в результате целое число, получим дробное число 1.5).* 


Если мы хотим, что питон нам выдал элементы с четным индексом, то пишем:

In [37]:
myList = [1, 0.76, 563, 10, 11] #Список можем называть не только L1, L2 :) можно дать ему красивое название, например, MyList - мой список

In [22]:
myList[::2] #нам выдались элементы с индексом 0, 2 и 4.

[1, 563, 11]

Объясним, почему команда пишется именно так. Разберем то, что написано в скобках по частям. Вы можете переписать myList[0::2] и получите тот же самый результат. Но так как мы начинаем с нулевого индекса, то можно 0 упустить - это предуматривается по дефолту. Далее, ставя ":" мы говорим "начиная с 0 индекса, включительно". Далее мы пишем ":2", что означает шаг в два, то есть просим вывести питон каждый второй элемент, начиная с индекса 0.

*На всякий случай: шаг в два означает "каждый второй" или "через один".*

**Элементы с нечетным индексом:**

In [24]:
myList[1::2] #нам выдались элементы с индексом 1 и 3 - действительно нечетные!

[0.76, 10]

Теперь разберем, как работает эта команда. Мы начинаем с первого нечетного индекса. Это индекс 1. Далее, ставя ":" мы говорим "начиная с 1 индекса, включительно". Далее мы пишем ":2", что означает шаг в два, то есть просим вывести питон каждый второй элемент, начиная с индекса 1. Что такое "начинаем с 1 и делаем шаг в 2"? Это означает, что начинаем с 1, следующее число (2) пропускаем, следующее число (3) пишем, затем- снова пропуска, потом- снова пишем.

Изменяя первую цифру в квадратных скобках, мы указываем с какого индекса мы начинаем, а изменяя вторую - указываем шаг.

In [44]:
myList2 = [1, 0.76, 563, 10, 11, 5, 13, 3, 0.433, 1000, "кошка", "белка"] #сделали новый список 
myList2[2::2] #начинаем с индекса 2 (соответствует элементу 563) и делаем шаг 2 (то есть каждый второй элемент)

[563, 11, 13, 0.433, 'кошка']

In [45]:
myList2[1::3] #начинаем с индекса 1 и делаем шаг в 3 (то есть каждый третий элемент)

[0.76, 11, 3, 'кошка']

**Отрицательная индексация**

Иногда наши списки очень длинные, а перед нами стоит задача вывести последний или предпоследний элемент списка. Для этого удобно использовать отрицательная индексация. Последний элемент имеет индекс -1 (не -0 :)) , предпоследний элемент имеет индекс -2 и так далее.

In [46]:
myList2[-1] #выводит последний элемент

'белка'

In [47]:
myList2[-2] #выводит предпоследний элемент

'кошка'

С помощью отрицательной индексации мы можем развернуть список:

In [49]:
myList2[::-1]

['белка', 'кошка', 1000, 0.433, 3, 13, 5, 11, 10, 563, 0.76, 1]

Можем попросить Питон выдать нам каждый второй элемент, считая с конца:

In [51]:
myList[::-2]

['белка', 1000, 3, 5, 10, 0.76]

## Операции над списками
Теперь мы разобрались с созданием списков, перейдем к операциям над ними.

### Замена элементов списка
Наш список имеет вид:

In [64]:
L1 = [1,2,3,4] 
L1[0]="one" # Заменяем элемент с индексом 0 на новый элемент 
print(L1) # выводим обновленный список

['one', 2, 3, 4]

### Добавить или убрать элемент списка

**Добавление одного элемента** Чтобы добавить элемент в конец списка, можно использовать метод append ()  *(переводится как "добавить")*

In [66]:
L1 = [1,2,3,4]
L1.append("five") # добавляем в конец новый элемент
print(L1)

[1, 2, 3, 4, 'five']

**Добавление нескольких элементов**. Метод extend () используется для добавления более одного элемента в конец списка. *(переводится как "расширить")*

In [108]:
L1 = [1,2,3,4]
L1.extend([5, 6, 7])
print(L1)

[1, 2, 3, 4, 5, 6, 7]

**Удаление элементов** Аналогично, можно удалять элементы из списка с помощью метода remove () *(переводится как "убрать")*

In [86]:
L1 = [1,2,3,4, "five"]
L1.remove("five") 
print(L1)

[1, 2, 3, 4]

Если один и тот же элемент встречается несколько раз, удаляется только первое совпадение

In [68]:
L1 = [1,2,3,4,3]
L1.remove(3)
print(L1)

[1, 2, 4, 3]

### Расставить элементы в обратном порядке

Операция reverse () используется для «разворота» элементов списка. Этот метод изменяет исходный список. 

Чтобы «развернуть» список без изменения исходного, мы используем отрицательные индексы, которые мы прошли немного ранее.

In [76]:
#использование отрицательных индексов
L1 = [1,2,3,4]
L1[::-1]

[4, 3, 2, 1]

In [79]:
#проверим, что нам выдаст питон, если запросим изначальный список
L1 #действительно, изначальный список не изменился

[1, 2, 3, 4]

In [82]:
L1 = [1,2,3,4] 
L1.reverse() #разворачиваем список
L1 #просим питон выдасть нам список. Теперь список L1 изменился: было [1,2,3,4], а стало [4,3,2,1]

[4, 3, 2, 1]

### Длина списка  - len
Метод len () возвращает длину списка, то есть количество элементов в списке. *(len от слова length, что переводится как "длина")*

In [83]:
L1 = [1,2,3,4]
len(L1)

4

А что если у нас список с вложенными списками? Какая для него будет длина? Функция посчитает длину как количество вложенных списков, а не общее количество всех элементов.

In [94]:
L1= [[1,3],[2,4,8,9],[5,6,7]] #список, составленный из 3 списков
len(L1)

3

Если мы хотим посчитать длину первого вложенного списка [1;3] в списке L1, то печатаем следующую функцию:

In [95]:
len(L1[0]) #пишем 0, так как список [1,3] имеет индекс 0

2

### Минимум/Максимум

Метод min () показывает минимальное значение элемента в списке. Метод max () показывает максимальное значение в списке. Оба метода принимают только однородные списки, то есть списки, содержащие элементы одного типа.

In [86]:
L1 = [0, -1000,150,2,17]
print(min(L1))

-1000

In [87]:
L1 = [0, -1000, 150,2,17]
print(max(L1))

150

### Сортировка
Метод sort() сортирует список в порядке возрастания. Эта операция может выполняться только с однородными списками, то есть списками, имеющими элементы аналогичного типа.

In [96]:
L1 = [4,2,1,3]
L1.sort()
L1

[1, 2, 3, 4]

In [107]:
L1=[0.3, 0.1, 1, 1.5] 
L1.sort()
L1

[0.1, 0.3, 1, 1.5]

In [104]:
L1=["ягуар", "кошка", "белка", "собака", "кит"] #для сортировки истользуется алфавитный принцип. если первые буквы совпадают, то сортировка происходит по второй букве
L1.sort()
L1

['белка', 'кит', 'кошка', 'собака', 'ягуар']

In [106]:
L1=[0.3, 0.1, 1.5, "питон"] #данные разные, поэтому ошибка
L1.sort()
L1

TypeError: '<' not supported between instances of 'str' and 'float'

### Сложение
Можно также складывать списки, объединяя их в один. Похоже на функцию Extend, но в этом случае вы создаете 2 списка, а не добавляете несколько элементов к одному списку. Несмотря на то, что эта функция использует знак "+", в результате мы не получим сложение каждого элемента списков друг с другом.

In [113]:
L1 = [5,6,7,8]
L2 = [1,2,3,4]
L1+L2 #получили список из 8 элементов, а не список [6, 8, 10, 12]. То есть + не про сложение элементов, а про объединение списков

[5, 6, 7, 8, 1, 2, 3, 4]

In [112]:
L2+L1 #можем менять порядок, тогда изменится порядок

[1, 2, 3, 4, 5, 6, 7, 8]

In [117]:
L3=[1,3]
L1+L2+L3 #можно складывать какое угодно количество списков, не обязательно только 2

[5, 6, 7, 8, 1, 2, 3, 4, 1, 3]

А вот вычитание невозможно. Использование знака "-" выдаст вам ошибку:

In [70]:
L1-L2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

### Умножение
Python также позволяет умножать список в n раз. Результирующий список - это исходный список, повторенный n раз.

In [119]:
L1 = [1,2,3,4] 
L1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

# 2.2 Кортежи
Кортеж (tuple) - это набор упорядоченных и неизменяемых объектов. Кортежи - это последовательности, как и списки. Различия между кортежами и списками заключаются в том, что кортежи нельзя изменить. Зачем нам нужна неизменяемость?  Благодаря свойству неизменяемости кортеж защищен от намеренных и случайных изменений.

Чтобы записать кортеж используйте круглые скобки (для списков мы использовали квадратные).

In [120]:
# Пустой кортеж
T1 = ()
T1

()

In [121]:
# Кортеж с целыми числами
T2 = (1, 2, 3)
T2

(1, 2, 3)

In [122]:
# Кортеж с разными типами данных
T3 = (1, "Hello", 3.4)
T3

(1, 'Hello', 3.4)

In [123]:
# Вложенный кортеж
T4 = ("кошка", [8, 4, 6], (1, 2, 3))
print(T4)

('кошка', [8, 4, 6], (1, 2, 3))

Индексы существуют для кортежей и расставляются так же:

In [136]:
T1=(1, 2, 3, 4)
T1[2] #элемент кортежа с индексом 2

3

В отличие от списков, кортежи неизменяемы. Это означает, что элементы кортежа нельзя изменить после того, как они были назначены. Продемонстрируем это:

In [134]:
L1 = (1,2,3,4)
L1[0]="one" # Заменяем элемент с индексом 0 на новый элемент 
L1 # выводим и получаем ошибку 'tuple' object does not support item assignment, что переводится как "объект 'кортеж' не поддерживает подобное действие")

TypeError: 'tuple' object does not support item assignment

Но если один из элементов кортежа сам по себе является изменяемым типом данных, например списком, то вложенные элементы этого элемента могут быть изменены.

In [137]:
T1 = (4, 2, 3, [6, 5])
T1[3][0] = 9 #список имеет индекс 3, в этом элементе мы меняем элемент с индексом 0 на 9, то есть 6 должно измениться на 9
T1

(4, 2, 3, [9, 5])

# Множества
Множество (set) - это неупорядоченный набор элементов. Каждый элемент набора уникален (без дубликатов) и должен быть неизменным (не может быть изменен).Однако, мы можем добавлять в него элементы или удалять их.
Множества также могут использоваться для выполнения математических операций, таких как объединение, пересечение, симметричная разность и т.д.

Множество создается путем помещения всех элементов в фигурные скобки {}, разделенных запятыми, или с помощью встроенной функции set (). Оно может иметь любое количество элементов, и они могут быть разных типов (целые числа, кортеж, строка и т.д.). Но набор не может иметь в качестве своих элементов изменяемые элементы, такие как списки, наборы или словари.

In [76]:
# Множество целых чисел
S1 = {1, 2, 3}
print(S1)

{1, 2, 3}

In [77]:
# Множество с разными типами данных
S2 = {1.0, "Hello", (1, 2, 3)}
print(S2)

{1.0, 'Hello', (1, 2, 3)}

# Пример использования множества
Множества могут использоваться для выполнения математических операций, таких как объединение, пересечение, разность и симметричная разность. Чтобы лучше понять, как выглядят все операции, посмотрите лекцию 2на Youtube канале или прочитайте дополнительно о кругах Эйлера.

In [138]:
S1 = {1, 2, 3, 4, 5} 
S2 = {4, 5, 6, 7, 8}
#Множества S1 и S2 содержат общие элементы 4 и 5
print(S1 | S2) # Объединение множеств

{1, 2, 3, 4, 5, 6, 7, 8}

In [80]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S1 & S2) # Пересечение множеств

{4, 5}

In [81]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S1 - S2) # Разность

{1, 2, 3}

In [83]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S1 ^ S2) # Симметричная разность

{1, 2, 3, 6, 7, 8}