
# Списки, кортежи, множества
Наиболее часто используемая структура данных в Python - это список (list). 

Список -  упорядоченная последовательность объектов. Объектом может быть что угодно: числа, строки или данных любого доступного типа. Сам список тоже является объектом.

Список также может быть как однородным, так и разнородным. Это означает, что мы можем хранить только числа или строки, или и то и другое, в зависимости от необходимости. Затем каждый элемент располагается в некоторой позиции (т.е. индексе) в списке. Индекс можно использовать позже, чтобы найти конкретный элемент. Первый индекс начинается с нуля, следующий - с единицы и так далее.

# Списки
## Как создать список?
Чтобы использовать списки, их нужно создать –– для этого есть несколько несложных способов, которые нам нужно знать. Начнем с самого эффективного: использование оператора нижнего индекса.

## Оператор нижнего индекса
Для того,  чтобы вызвать оператор нижнего индекса напишем квадратные скобки []. Это самый быстрый способ создать список с помощью Питона.

In [4]:
a1, a2, a3, a4 = 1, 2, 3, 4
L1 = [] # Пустой список
L2 = [a1, a2, a3, a4] # Список с элементами

In [21]:
L2

[1, 2, 3, 4]

In [22]:
L2[1:] #берем начиная с 1 индекса

[2, 3, 4]

In [7]:
L2[1]

2

In [8]:
L2[1:3]

[2, 3]

In [9]:
myList = [1, 0.76, 563, 10, 11]

In [11]:
myList[::2] # все элементы с четными индексами

[1, 563, 11]

In [12]:
myList[1::2]

[0.76, 10]

In [24]:
myList[::-1]

[11, 10, 563, 0.76, 1]

In [25]:
myList[::-2]

[11, 563, 1]

In [13]:
# myList[start:finish (не включительно):step]

In [16]:
range100 = list(range(1, 101))

In [17]:
range100

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [20]:
range100[1:25:10]

[2, 12, 22]

 Список может включать в себя любое количество элементов, и каждый может принадлежать к разному типу данных (число, строка и т.д.)
 Например:

In [29]:
L1 = []  # Пустой список

L2 = [10, 20, 30]  #Список с целыми числами

L3 = [1, "Hello", 3.4] # Список разных типов данных

#Можно также сделать список из списков:

L4 = [["one","two","three","four"],[1,2,3,4,5]]

In [26]:
a = [1, 2]
b = [3, 4]

In [27]:
c = [a , b]

In [28]:
c

[[1, 2], [3, 4]]

In [30]:
len(L3)

3

In [31]:
len(a)

2

In [32]:
len(b)

2

In [33]:
len(c)

2

In [34]:
c[0]

[1, 2]

In [35]:
c[0][0]

1

In [36]:
c[0][1]

2

# Встроенная функция list
List принимает в качестве аргумента последовательность или кортеж (о них поговорим позже) и преобразуется в список Python.

In [ ]:
L1 = list([n1, n2, …]) # Создание списка
L2 = list() # Пустой список

## Минутка Ваших вопросов

1. float – число с дробной частью (1.7)
2.

In [40]:
myList

[1, 0.76, 563, 10, 11]

In [41]:
myList[::-1]

[11, 10, 563, 0.76, 1]

In [42]:
myList

[1, 0.76, 563, 10, 11]

In [43]:
myList = myList[::-1]

In [44]:
myList

[11, 10, 563, 0.76, 1]

In [45]:
[1, 2] + [2, 3]

[1, 2, 2, 3]

In [46]:
[1, 2] - [2, 3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [47]:
c

[[1, 2], [3, 4]]

In [48]:
len(c)

2

# Создание многомерного списка
Можно создать последовательность с заранее определенным размером, указав начальное значение для каждого элемента.

In [49]:
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [51]:
[1] * 5

[1, 1, 1, 1, 1]

In [37]:
Example = [0]*3 
print(Example)

[0, 0, 0]

С помощью описанной выше концепции можно построить двумерный список с помощью уже упомянутого List comprehension.

In [26]:
two_dim_example = [[1]*3 for i in range(3)]  
print(two_dim_example)

[[1, 1, 1], [1, 1, 1], [1, 1, 1]]

Когда мы разобрались с созданием списков, перейдем к операциям над ними.

# Индексация

При создании списка в Python, элементы в списке нумеруются, начиная с индекса 0. Для доступа к элементам в списке Вы можете использовать индекс, если вы знаете, где находятся ваши элементы.

In [52]:
L1 = ["one",1,"two", 2,"three", 3]
element = L1[0] 
print(element)

one

In [33]:
L1 = ["one",1,"two", 2,"three", 3]
element = L1[5] 
print(element)

3

Можно также получить последний элемент без подсчета, для этого используется отрицательная индексация:

In [53]:
L1 = ["one",1,"two", 2,"three", 3]
element = L1[-1] 
print(element)

3

In [54]:
L1

['one', 1, 'two', 2, 'three', 3]

In [55]:
len(L1)

6

In [56]:
L1[5]

3

In [57]:
L1[-1]

3

In [58]:
L1[-2]

'three'

In [59]:
L1[-3]

2

Таким образом, индексация может иметь вид не только возрастающей последовательности, но и обратной –– первый элемент в нашем примере имеет индекс 0, а также -6, а последний 5 и -1 соответственно. Проще говоря, -1 – последний, -2 – предпоследний и далее.

# Замена элементов списка
Наш список имеет вид:

In [60]:
L1 = [1, 2, 3, 4]
L1[0] = "one" # На этом этапе делаем замену
print(L1)

['one', 2, 3, 4]

In [62]:
L1 = [1, 2, 3, 4]
L1

[1, 2, 3, 4]

In [63]:
L1[0]

1

In [64]:
L1[0] = 999

In [65]:
L1

[999, 2, 3, 4]

In [67]:
a = [1, 2, 1.4, 1.7, 'one']

In [69]:
a

[1, 2, 1.4, 1.7, 'one']

In [70]:
a[-1]

'one'

In [71]:
a[::2]

[1, 1.4, 'one']

# Добавить или убрать элемент списка
Чтобы добавить элементы в конец списка, можно использовать метод append ()

In [44]:
L1 = [1,2,3,4]
L1.append("five") 
print(L1)

[1, 2, 3, 4, 'five']

Аналогично, можно удалять элементы из списка с помощью метода remove ()

In [86]:
L1 = [1,2,3,4, "five"]
L1.remove("five") 
print(L1)

[1, 2, 3, 4]

Метод extend () используется для добавления более одного элемента в конец списка.

In [87]:
L1 = [1,2,3,4]
L1.extend([5, 6, 7])
print(L1)

[1, 2, 3, 4, 5, 6, 7]

Метод remove () используется для удаления элемента из списка. Если один и тот же элемент встречается несколько раз, удаляется только первое совпадение

In [88]:
L1 = [1,2,3,4]
L1.extend([5, 6, 6, 7])
L1.remove(6)
print(L1)

[1, 2, 3, 4, 5, 6, 7]

In [76]:
a = [1, 2, 3, 4, 5]

In [77]:
a.append(6)

In [78]:
a

[1, 2, 3, 4, 5, 6]

In [79]:
a + 7

TypeError: can only concatenate list (not "int") to list

In [80]:
a + [7]

[1, 2, 3, 4, 5, 6, 7]

# Расставить элементы в обратном порядке
Операция reverse () используется для «разворота» элементов списка. Этот метод изменяет исходный список. Чтобы «развернуть» список без изменения исходного, мы используем операцию среза с отрицательными индексами.

In [89]:
L1 = [1,2,3,4]
print(L1[::-1]) # Не меняет исходный список

[4, 3, 2, 1]

In [90]:
L1 = [1,2,3,4]
L1.reverse() # Изменяет исходный список
print(L1)

[4, 3, 2, 1]

# Метод len
Метод len () возвращает длину списка, то есть количество элементов в списке.

In [91]:
L1 = [1,2,3,4]
print(len(L1))

4

# Минимум/Максимум

Метод min () показывает минимальное значение в списке. Метод max () показывает максимальное значение в списке. Оба метода принимают только однородные списки, то есть списки, содержащие элементы одного типа.

In [72]:
L1 = [1,2,3,4]
print(min(L1))

1

In [73]:
len(L1)

4

In [74]:
min(L1)

1

In [75]:
max(L1)

4

In [93]:
L1 = [1,2,3,4]
print(max(L1))

4

# Сортировка
Метод sort() сортирует список в порядке возрастания. Эта операция может выполняться только с однородными списками, то есть списками, имеющими элементы аналогичного типа.

In [81]:
L1 = [4,2,1,3]
L1.sort()
print(L1)

[1, 2, 3, 4]

In [82]:
L1 = [4, 2, 1, 3]

In [83]:
L1.sort()

In [84]:
L1

[1, 2, 3, 4]

In [85]:
L1 = [4, 2, 1, 3]

In [86]:
L1.sort(reverse=True)

In [87]:
L1

[4, 3, 2, 1]

In [88]:
L1 = [4, 2, 1, 3]

In [89]:
sorted(L1)

[1, 2, 3, 4]

In [90]:
L1

[4, 2, 1, 3]

In [92]:
sorted(L1, reverse=False)

[1, 2, 3, 4]

In [93]:
sorted(L1, reverse=True)

[4, 3, 2, 1]

In [94]:
L1

[4, 2, 1, 3]

In [95]:
z = [1, 1.2, 'text']

In [96]:
min(z)

TypeError: '<' not supported between instances of 'str' and 'int'

In [97]:
text = 45
z = [1, 1.2, text]

In [98]:
min(z)

1

In [99]:
max(z)

45

# Сложение
Можно также складывать списки, объединяя их в один

In [57]:
L1 = [5,6,7,8]
L2 = [1,2,3,4]
print(L1+L2)

[5, 6, 7, 8, 1, 2, 3, 4]

# Умножение
Python также позволяет умножать список в n раз. Результирующий список - это исходный список, повторенный n раз.

In [94]:
L1 = [1,2,3,4]
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [100]:
L1 = [1,2,3,4]

In [102]:
L1 * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [103]:
[1] * 10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

# Кортежи
Кортеж (tuple) - это набор упорядоченных и неизменяемых объектов. Кортежи - это последовательности, как и списки. Различия между кортежами и списками заключаются в том, что кортежи нельзя изменить.
В отличие от списков, для кортежей используются круглые скобки, тогда как в списках используются квадратные скобки.

In [104]:
# Пустой кортеж
T1 = ()
print(T1)

()

In [105]:
# Кортеж с целыми числами
T2 = (1, 2, 3)
print(T2)

(1, 2, 3)

In [111]:
# Кортеж с разными типами данных
T3 = (1, "Hello", 3.4)
print(T3)

(1, 'Hello', 3.4)

In [112]:
# Вложенный кортеж
T4 = ("mouse", [8, 4, 6], (1, 2, 3))
print(T4)

('mouse', [8, 4, 6], (1, 2, 3))

In [116]:
T4[1][0] = 9

In [117]:
T4

('mouse', [9, 4, 6], (1, 2, 3))

In [108]:
myTuple = (1, 2, 3, 4, 5)

In [110]:
myTuple[0] = 999

TypeError: 'tuple' object does not support item assignment

В отличие от списков, кортежи неизменяемы.

Это означает, что элементы кортежа нельзя изменить после того, как они были назначены. Но если элемент сам по себе является изменяемым типом данных, например списком, его вложенные элементы могут быть изменены.

In [75]:
T1 = (4, 2, 3, [6, 5])
T1[3][0] = 9
print(T1)

(4, 2, 3, [9, 5])

# Множества
Множество (set) - это неупорядоченный набор элементов. Каждый элемент набора уникален (без дубликатов) и должен быть неизменным (не может быть изменен).Однако, мы можем добавлять в него элементы или удалять их.
Множества также могут использоваться для выполнения математических операций, таких как объединение, пересечение, симметричная разность и т.д.

Множество создается путем помещения всех элементов в фигурные скобки {}, разделенных запятыми, или с помощью встроенной функции set (). Оно может иметь любое количество элементов, и они могут быть разных типов (целые числа, кортеж, строка и т.д.). Но набор не может иметь в качестве своих элементов изменяемые элементы, такие как списки, наборы или словари.

In [118]:
[1, 1, 1, 2, 2]

[1, 1, 1, 2, 2]

In [119]:
(1, 1, 1, 2, 2)

(1, 1, 1, 2, 2)

In [121]:
{1, 1, 1, 2, 2, 4, 4, 5, 9, 5}

{1, 2, 4, 5, 9}

In [76]:
# Множество целых чисел
S1 = {1, 2, 3}
print(S1)

{1, 2, 3}

In [77]:
# Множество с разными типами данных
S2 = {1.0, "Hello", (1, 2, 3)}
print(S2)

{1.0, 'Hello', (1, 2, 3)}

# Пример использования множества
Множества могут использоваться для выполнения математических операций, таких как объединение, пересечение, разность и симметричная разность.

In [79]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S1 | S2) # Объединение множеств

{1, 2, 3, 4, 5, 6, 7, 8}

In [80]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S1 & S2) # Пересечение множеств

{4, 5}

In [122]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S1 - S2) # Разность

{1, 2, 3}

In [123]:
S2 - S1

{6, 7, 8}

In [83]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S1 ^ S2) # Симметричная разность

{1, 2, 3, 6, 7, 8}